{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{% block title %}Browsing{% endblock title %} &ndash; HPDM148</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
    </head>

    <body class="bg-gray-50 font-mono leading-normal tracking-normal text-gray-800 text-xl px-8">
        
        <div class="container min-h-screen max-w-xl mx-auto flex flex-col">
            <div class="flex-1 flex flex-col gap-4 justify-center">
                <nav class="">
                    <a href="/" class="hover:text-sky-700">Home</a> |
                    <a href="{% url 'dissertations:students_index' %}" class="hover:text-sky-700">Students</a> |
                    <a href="{% url 'dissertations:supervisors_index' %}" class="hover:text-sky-700">Supervisors</a> |
                    <a href="https://{{ request.get_host }}/admin" class="hover:text-sky-700">Admin</a>
                </nav>
    
                <div class="border-gray-800 border-2 p-4">
                    {% block content %}
                    HPDM148 - Independent Research Project
                    {% endblock content %}
                </div>
            </div>
        </div>

    </body>
</html>
